
<div id="map-container"></div>
<h1>{{ place.name }}</h1>


<a href="/place/edit/{{ place._id }}"> Edit Place</a>
<form action="/place/delete/{{ place._id }}" method="POST">
  <button>Delete Place</button>
</form>

<script>
function initMap() {
    const place = {{{ json place }}}

    const $mapContainer = document.getElementById('map-container');

    const map = new window.google.maps.Map($mapContainer, {
      center: { lat: place.location.coordinates[0], lng: place.location.coordinates[1]},
      zoom: 11
    })

      const marker = new window.google.maps.Marker({
        map,
        position: {
          lat: place.location.coordinates[0],
          lng: place.location.coordinates[1],
        }
      })

  }

</script>

{{> mapPartial}}